.AppWrapper {
  text-align: center;
}

.App {
  background-color: lightgray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
}

.full-width {
  width: 100%;
  height: 100%;
}

.card-item {
  padding-top: 62%;
  height: 0;
  overflow: hidden;
  border-radius: 20px;
  color: black;
  position: relative;
}

.card-content {
  font-size: 1.5em;
  width: 100%;
  top: 0;
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trim {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
